In [2]:
import pandas as pd

df = pd.read_csv('./lotr_with_name_info.csv')
df = df.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis = 1)

In [3]:
df.columns

Index(['birth', 'death', 'gender', 'hair', 'height', 'name', 'race', 'realm',
       'spouse', 'name_length', 'vowel_count', 'pct_vowels', 'first_letter',
       'starts_vowel'],
      dtype='object')

In [11]:
pd.options.display.max_rows = 1000
df['birth'].unique

# Unknown
# Before the creation of Arda
# c. 0-5000 Creation of Arda
# c. 5000-10000 Years of the Lamps
# c. 10000-30000 Years of the Trees
# c. 30000+ Years of the Sun
# # # First Age 0-587
# # # Second Age 0-3441
# # # Third Age 0-3021
# # # Fourth Age 0-250

<bound method Series.unique of 0      NaN
1      TA 2978
2      NaN
3      TA 280
4      NaN
5      SA 2709
6      NaN
7      YT
8      NaN
9      SA 3219
10     SA 3118
11     SA 2876
12     SA 2960
13     TA 2866
14     NaN
15     Late ,Third Age
16     Perhaps ,Firstborn
17     NaN
18     NaN
19     NaN
20     Early ,First Age
21     TA 654
22     SA 2277
23     SA 1320
24     SA 2136
25     SA 1174
26     SA 3035
27     SA 3117
28     SA 1474
29     SA 350
30     SA 2516
31     SA 1800
32     SA 543
33     SA 2618
34     SA 1634
35     SA 1003
36     SA 873
37     SA 1986
38     SA 192
39     SA 2406
40     NaN
41     TA 2922
42     NaN
43     SA 799
44     SA 700
45     YT, and perhaps Firstborn
46     YT 1300
47     YT during the ,Noontide of Valinor
48     YT 1190
49     TA 2950
50     First Age
51     Years of the Trees
52     Fourth Age
53     YT 1230
54     NaN
55     TA 2701
56     Late ,Third Age
57     TA 2870
58     NaN
59     Late ,Third Age
60     TA 2858
61     SR 1210
62     TA 2560
63     Mid ,Third Age
64     TA 2983
65     NaN
66     NaN
67     NaN
68     NaN
69     Unknown, first appeared in ,TA 2770
70     NaN
71     Late ,Third Age
72     TA 570
73     SA 521
74     Unknown, possibly during the ,First Age
75     TA 2050
76     NaN
77     Before the creation of ,Arda
78     Before the creation of ,Arda
79     NaN
80     Before the creation of Arda
81     SR 1308
82     Mid-,Third Age
83     TA 2920
84     NaN
85     NaN
86     NaN
87     YT
88     Fourth Age
89     about ,FA 430
90     SR 1179
91     TA 2964
92     TA 2918
93     NaN
94     TA 1126
95     YT
96     TA 310
97     c. T.A. 2328
98     FA 450
99     NaN
100    NaN
101    NaN
102    NaN
103    SR 1255
104    NaN
105    TA 2788
106    TA 2849
107    NaN
108    NaN
109    NaN
110    Mid ,First Age
111    Late ,First Age
112    Late ,First Age
113    NaN
114    Before the creation of ,Arda
115    NaN
116    NaN
117    TA 2904
118    Late ,Third Age
119    NaN
120    Second Age
121    TA 2947
122    TA 2857
123    SA 532
124    After ,SA 1320
125    SA 3209
126    TA 2832
127    TA 2842
128    Before the creation of ,Arda
129    b. ,TA 2990
130    Late ,Third Age
131    Late ,Second Age
132    NaN
133    YT
134    YT, and perhaps firstborn
135    Late ,Third Age
136    Mid ,First Age
137    NaN
138    TA 1950
139    TA 2955
140    around FA 325
141    Unknown, Awakened in the ,Years of the Trees
142    Unknown, Awakened in the ,Years of the Trees
143    NaN
144    Before the creation of ,Arda
145    YT 1469
146    NaN
147    Mid-,Third Age
148    TA 2515
149    TA 2124
150    FA 441
151    Late ,Third Age
152    TA 2975
153    TA 1391
154    TA 899
155    NaN
156    FA 442
157    Late ,FA
158    Late ,First Age
159    Mid ,FA
160    First Age
161    NaN
162    Late ,Third Age
163    NaN
164    Possibly late ,Third Age
165    Before the creation of ,Arda
166    YT
167    Years of the Trees
168    TA 1928
169    TA 1883
170    TA 736
171    SA 361
172    TA 640
173    Late ,Second Age
174    TA 48
175    FA 503
176    Before the creation of ,Arda
177    Late ,Second Age
178    Late ,Third Age
179    NaN
180    SA 771
181    unknown
182    TA 2990
183    TA 1999
184    TA 2995
185    TA 2485
186    TA 2990
187    Unknown, possibly in the ,First Age
188    Unknown, Awakened in the ,Years of the Trees
189    Unknown, Awakened in the Years of the Trees
190    FA 406
191    FA 503
192    FA 500
193    FA 532
194    FA 532
195    TA 2987
196    NaN
197    TA 130
198    FO 8
199    TA 2950
200    TA 2985
201    YT
202    TA 552
203    SA 3299
204    SA 3119
205    NaN
206    NaN
207    FO 43
208    YT
209    TA 1255
210    TA 87
211    NaN
212    Early ,Second Age
213    Mid ,First Age
214    Late ,Third Age
215    NaN
216    TA 2626
217    NaN
218    NaN
219    TA 2886
220    TA 2600
221    NaN
222    Late ,Third Age
223    TA 2760
224    Late ,First Age
225    TA 2838
226    Late ,Third Age
227    TA 2644
228    Between TA 2400 and ,TA 2430
229    TA 3011
230    Late ,First Age
231    TA 1879
232    Before the creation of Arda
233    TA 2910
234    TA 222
235    Before the creation ,Arda
236    NaN
237    First Age
238    Before the creation of ,Arda
239    SA 382
240    TA 2576
241    YT
242    NaN
243    TA 2865
244    NaN
245    Sometime before ,SA 799
246    TA 1787
247    Possibly Firstborn
248    TA 2923
249    NaN
250    Late ,Second Age
251    Early ,Second Age
252    Late Second Age
253    Late ,Third Age
254    Late ,Third Age
255    TA 2338
256    TA 1832
257    TA 2665
258    Late ,Third Age
259    TA 2846
260    Late ,Third Age
261    NaN
262    Late ,Third Age
263    FO 41
264    Second Age
265    SA 2286
266    Late-,Third Age
267    TA 2037
268    NaN
269    Late-,Third Age
270    Early ,Second Age
271    TA 2691
272    NaN
273    Sometime before ,SA 799
274    F.A. 365
275    Mid ,First Age
276    FA 419
277    Late ,Third Age
278    FA 470
279    FA 441
280    TA 2760
281    Late ,First Age
282    SA 711
283    TA 2480
284    SA 852
285    Late ,Third Age
286    FA 341
287    NaN
288    FA 413
289    NaN
290    NaN
291    TA 2916
292    FA 390
293    Late-,Third Age
294    TA 2245
295    TA 2767
296    TA 2440
297    TA 2772
298    Before the creation of ,Arda
299    FO 2
300    NaN
301    Late-,Third Age
302    Late ,Third Age
303    NaN
304    Late ,First Age
305    TA 2827
306    NaN
307    TA 2328
308    FA 470,
309    NaN
310    SR 1316
311    TA 2995
312    Late ,Third Age
313    Late ,Third Age
314    TA 2930
315    TA 2375
316    YT
317    Late ,Third Age
318    NaN
319    Late ,First Age
320    YT
321    YT, 1050. Age = 11,484.9 Sun Years or 1,198.6 Valian Years as of FO 121 (death of Arwen).
322    During the ,Noontide of Valinor
323    TA 2238
324    TA 2774
325    Before the creation of ,Arda
326    Early ,First Age
327    YT
328    SA 700
329    Late ,Third Age
330    TA 2961
331    c. ,TA 2544
332    Early ,Second Age
333    SA 371
334    Before the creation of ,Arda
335    Late-,Third Age
336    Late ,Third Age
337    Late ,First Age
338    TA 2450
339    TA 2834
340    Unknown, before the coming of Melkor
341    NaN
342    TA 2904
343    NaN
344    NaN
345    TA 2938
346    NaN
347    TA 2935
348    TA 2897
349    NaN
350    TA 2980
351    TA 2942
352    NaN
353    NaN
354    NaN
355    TA 2843
356    NaN
357    TA 2988
358    TA 2860
359    TA 2812
360    NaN
361    TA 2894
362    Late ,Third Age
363    TA 2854
364    NaN
365    TA 2946
366    TA 2904
367    TA 2978
368    before ,TA 2860
369    TA 2950
370    Late ,Third Age
371    NaN
372    TA 2767
373    TA 2769
374    TA 2856
375    NaN
376    Late ,Third Age
377    TA 1560
378    NaN
379    Late ,Third Age
380    NaN
381    22 September ,TA 2890
382    TA 2814
383    Early  ,Third Age
384    TA 3009
385    TA 2655
386    FA 432
387    Early ,Fourth Age
388    Mid ,First Age
389    TA 2837
390    SA 222
391    Late ,Third Age
392    FA 473
393    SR 1261
394    YT
395    Unknown, possibly sometime during the ,Years of the Trees
396    Before the creation of ,Arda
397    unknown
398    SA 840
399    Before the creation of ,Arda
400    YT, during the ,Noontide of Valinor
401    NaN
402    NaN
403    NaN
404    NaN
405    TA 1684
406    TA 1049
407    NaN
408    NaN
409    Early ,First Age
410    NaN
411    NaN
412    First Age
413    NaN
414    Perhaps ,Firstborn
415    Late 26th century ,Third Age
416    FA 443
417    NaN
418    NaN
419    TA 1454
420    Mid ,Third Age
421    SR 1381
422    YT
423    NaN
424    SA 3318
425    NaN
426    Before the creation of ,Arda
427    Before the creation of ,Arda
428    Around FA 450
429    3019
430    TA 2890
431    SR 1182
432    SR 1343
433    Mid-,Third Age
434    Mid ,Third Age
435    TA 1557
436    TA 1960
437    FA 282
438    Before the Creation of Arda
439    After ,SA 61
440    Late ,First Age
441    Before the creation of Arda
442    TA 2940
443    Unknown, possibly during the ,First Age
444    NaN
445    Late ,Third Age
446    Mid ,First Age
447    NaN
448    TA 2563
449    TA 2671
450    Mid ,First Age
451    NaN
452    Late ,Third Age
453    Unknown, probably several years or so after the ,Battle of Five Armies
454    TA 2862
455    TA 2810
456    TA 2859
457    TA 2851
458    TA 2854
459    NaN
460    Late ,First Age
461    TA 2668
462    NaN
463    Before the creation of ,Arda
464    NaN
465    SR 1134
466    TA 2274
467    NaN
468    TA 2908
469    NaN
470    NaN
471    NaN
472    NaN
473    TA 2430
474    Unknown, before ,TA 2700
475    NaN
476    TA 2619
477    NaN
478    Late ,Third Age
479    Late ,Third Age
480    FA 415
481    TA 2136
482    TA 2783
483    Late ,Third Age
484    Possibly ,YT
485    Unknown, late fifth or sixth century ,First Age
486    Presumably after Morgoth's return to Angband
487    TA 2732
488    NaN
489    TA 2879
490    SA 2630
491    SA 3044
492    TA 2907
493    TA 2000
494    NaN
495    NaN
496    Late ,First Age
497    FA 450
498    First Age
499    Late ,Third Age
500    NaN
501    NaN
502    NaN
503    Mid ,First Age
504    NaN
505    NaN
506    NaN
507    TA 2941
508    TA 2984
509    TA 2983
510    Late ,Third Age
511    NaN
512    TA 2886
513    TA 2980
514    NaN
515    NaN
516    SA 3379
517    Mid ,Second Age
518    TA 820
519    TA 2449
520    NaN
521    TA 2903
522    Late ,Third Age
523    SA 575
524    SA 3399
525    TA 979
526    During in the ,Noontide of Valinor
527    Between the years ,SA 350, and SA 400
528    TA 1062
529    YT
530    YT
531    TA 1259
532    Before the Creation of ,Arda
533    NaN
534    During the ,Noontide of Valinor
535    TA 1058
536    SA 512
537    NaN
538    TA 1736
539    Late ,First Age
540    FA 262
541    Late ,Third Age
542    NaN
543    NaN
544    TA 2974
545    Mid-,Second Age
546    TA 2800
547    Late ,Third Age
548    NaN
549    NaN
550    NaN
551    Possibly pre First Age
552    NaN
553    TA 2780
554    SA 425
555    NaN
556    First Age
557    TA 1919
558    Before ,TA 1255
559    Mid-,Third Age
560    SA 203
561    SA 61
562    Before the creation of Arda
563    TA 462
564    Early ,Second Age
565    SA 3430
566    TA 1194
567    YT
568    Before the creation of Arda
569    Late ,First Age
570    NaN
571    Mid ,First Age
572    NaN
573    Before the creation of ,Arda
574    Mid ,First Age
575    Late ,First Age
576    Mid ,First Age
577    Early ,Second Age
578    Before the creation of ,Arda
579    3019
580    NaN
581    TA 2815
582    TA 2165
583    FA 464
584    NaN
585    TA 2855
586    YT 1300
587    TA 397
588    FA 472
589    YT
590    Before the creation of ,Arda
591    YT
592    TA 2890
593    SR 1256
594    TA 2976
595    TA 2700
596    FA 340
597    NaN
598    FA 292
599    FA 339
600    Late ,First Age
601    TA 2074
602    TA 811
603    NaN
604    TA 2752
605    TA 2545
606    Mid-,First Age
607    FA 316
608    NaN
609    TA 2985
610    TA 2898
611    FA 317
612    FA 289
613    TA 2290
614    NaN
615    FA 402
616    FA 420
617    TA 2763
618    NaN
619    NaN
620    TA 2925
621    NaN
622    TA 2948
623    TA 2946
624    NaN
625    TA 2816
626    NaN
627    TA 2950
628    NaN
629    NaN
630    TA 1144
631    NaN
632    TA 895
633    Mid ,Third Age
634    NaN
635    NaN
636    FA 307
637    SA 377
638    UnknownYT
639    F.A. 341
640    During the ,Noontide of Valinor
641    TA 2948
642    FA 320
643    During the ,Noontide of Valinor
644    Late ,Third Age
645    NaN
646    YT 1200
647    Late ,Third Age
648    TA 2752
649    TA 2459
650    Before the creation of ,Arda
651     ,3019
652    TA 2999
653    Late ,First Age
654    Late ,Second Age
655    YT
656    SA 551
657    NaN
658    SR 1313
659    YT
660    NaN
661    NaN
662    Late ,First Age
663    Possibly ,First Age
664    FA 466
665    NaN
666    March 253021
667    Before the the Shaping of Arda
668    Possibly late ,Third Age
669    April 6 ,2980
670    NaN
671    NaN
672    TA 2976
673    TA 2965
674    TA 2926
675    TA 2969
676    FO 2
677    TA 2972
678    NaN
679    NaN
680    NaN
681    NaN
682    NaN
683    NaN
684    FA 417
685    NaN
686    YT 1362
687    NaN
688    TA 2004
689    NaN
690    TA 1896
691    TA 2859
692    YT 1169
693    TA 2662
694    NaN
695    Second Age
696    TA 2552
697    TA 2594
698    TA 2726
699    TA 2570
700    Late ,Third Age
701    TA 1940
702    TA 2751
703    TA 2698
704    TA 1967
705    Late ,First Age
706    TA 2745
707    Mid ,Third Age
708    Late ,Third Age
709    TA 2830
710    TA 2858
711    TA 2804
712    Late ,Third Age
713    NaN
714    NaN
715    TA 2996
716    SR 1347
717    TA 1930
718    NaN
719    TA 2857
720    Mid ,First Age
721    TA 2913
722    NaN
723    Late ,First Age
724    TA 2512
725    TA 2519
726    NaN
727    NaN
728    TA 2920
729    TA 2860
730    TA 2948
731    NaN
732    NaN
733    TA 2982
734    TA 2983
735    SR 1385
736    SR 1175
737    NaN
738    NaN
739    NaN
740    TA 2985
741    TA 2954
742    TA 2936
743    NaN
744    TA 2994
745    NaN
746    TA 2904
747    TA 2818
748    First Age
749    TA 2957
750    TA 2865
751    TA 2913
752    TA 2865
753    Late ,First Age
754    Late ,Third Age
755    First Age
756    TA 2410
757    FA 338
758    NaN
759    NaN
760    NaN
761    TA 2990
762    TA 2975
763    TA 2933
764    NaN
765    TA 2847
766    SR 1240
767    TA 2844
768    TA 2849
769    TA 2790
770    NaN
771    NaN
772    TA 2916
773    TA 2928
774    TA 2817
775    NaN
776    TA 2880
777    NaN
778    TA 2701
779    TA 2666
780    TA 2620
781    TA 2878
782    NaN
783    TA 2295
784    FO 10
785    Third Age, or before
786    After ,SA 61
787    NaN
788    Before the creation of Arda
789    NaN
790    TA 2978
791    TA 2948 ,Gondor
792    NaN
793    TA 2542
794    TA 2644
795    First Age
796    Before the Creation of ,Arda
797    TA 1934
798    TA 2782
799    TA 2866
800    TA 2746
801    TA 2035
802    YT 1050
803    TA 2905
804    Second Age
805    TA 1516
806    First Age
807    Unknown, awakened in the ,Years of the Trees
808    TA 1632
809    Unknown, awakened in the ,Years of the Trees
810    TA 372
811    Late ,Third Age
812    NaN
813    TA 2860
814    TA 2814
815    TA 1577
816    After ,TA 654
817    TA 2807
818    NaN
819    22 September ,TA 2968
820    TA 2864
821    TA 2911
822    TA 2908
823    NaN
824    NaN
825    NaN
826    TA 2846
827    TA 2772
828    TA 2852
829    TA 2767
830    TA 2981
831    NaN
832    FA 214
833    SA 395
834    Before the creation of ,Arda
835    SA 213
836    TA 977
837    TA 480
838    After ,SA 61
839    NaN
840    TA 241
841    TA 1633
842    TA 1309
843    TA 1553
844    TA 1864
845    Late ,First Age
846    NaN
847    NaN
848    Before the creation of ,Arda
849    TA 2757
850    Years of the Trees
851    TA 1473
852    TA 1226
853    YT 1362
854    SA 562
855    After ,TA 1684
856    TA 2497
857    TA 2156
858    TA 1711
859    TA 2873
860    TA 2693
861    SA 3339
862    TA 2628
863    TA 1391
864    TA 185
865    TA 1789
866    NaN
867    TA 2084
868    TA 1938
869    TA 2012
870    TA 2563
871    TA 2365
872    TA 2431
873    March 1 ,2931
874    TA 2227
875    TA 2296
876    TA 2820
877    SA 2798
878    Mid-,Third Age
879    FA 440
880    FA 361
881    Possibly before the Creation of Arda
882    Late ,Third Age
883    TA 136
884    YT
885    TA 2994
886    NaN
887    NaN
888    Years of the Trees
889    Years of the Trees
890    TA 726
891    NaN
892    Sometime during ,Years of the Trees, or the ,First Age
893    YT
894    Late ,Second Age
895    TA 3017
896    Between ,SA 700, and ,SA 750
897    Between ,SA 700, and ,SA 750
898    NaN
899    Late ,First Age
900    TA 2544
901    TA 1330
902    Before the creation of Arda
903    TA 2827
904    NaN
905    NaN
906    Mid ,First Age
907    NaN
908    YT during the ,Noontide of Valinor
909    TA 2917
910    Before ,TA 1944
Name: birth, dtype: object>

In [12]:
df['death'].unique

# Unknown
# Immortal
# Still Alive
# # # First Age 0-587
# # # Second Age 0-3441
# # # Third Age 0-3021
# # # Fourth Age 0-250

<bound method Series.unique of 0      NaN
1      February 26 ,3019
2      March ,3019
3      TA 515
4      NaN
5      SA 2962
6      NaN
7      FA 455
8      NaN
9      SA 3440
10     Still alive
11     SA 3102
12     SA 3177
13     TA 2977
14     NaN
15     NaN
16     NaN
17     NaN
18     NaN
19     FA 510
20     NaN
21     TA 913
22     SA 2637
23     SA 1731
24     SA 2526
25     SA 1574
26     SA 3255
27     SA 3319
28     SA 1873
29     SA 751
30     SA 2825
31     SA 2221
32     SA 942
33     SA 2899
34     SA 2035
35     SA 1404
36     SA 1285
37     SA 2386
38     SA 603
39     SA 2737
40     NaN
41     NaN
42     NaN
43     Early ,Second Age
44     SA 1098
45     YT 1495
46     FA 465
47     FA 472
48     FA 455
49     TA 2988
50     FA 495
51     NaN
52     sometime after ,FO 172
53     Still Alive
54     NaN
55     TA 2801
56     Early ,Fourth Age
57     TA 2953
58     NaN
59     March 15 ,3019
60     TA 2885
61     NaN
62     TA 2803
63     TA 1944
64     February 26 ,82
65     NaN
66     NaN
67     February 293019
68     TA 3019
69     November 1 ,TA 2941
70     NaN
71     NaN
72     TA 830
73     NaN
74     Unknown, possibly TA 3019
75     NaN
76     TA 2000
77     March 25 ,3019
78     3 November ,3019
79     NaN
80     Immortal
81     SR 1407
82     NaN
83     FO 50
84     NaN
85     Fate officially unknown
86     NaN
87     FA 484
88     NaN
89     FA 495
90     NaN
91     TA 3019
92     TA 3020
93     NaN
94     TA 1366
95     NaN
96     TA 541
97     NaN
98     FA 473
99     NaN
100    NaN
101    NaN
102    NaN
103    SR 1348
104    NaN
105    NaN
106    Late ,Third Age
107    NaN
108    FA 510
109    NaN
110    FA 460
111    Late First Age
112    FA 460
113    NaN
114    None
115    NaN
116    NaN
117    TA 3005
118    NaN
119    FA 486
120    NaN
121    NaN
122    TA 2929
123    NaN
124    Before ,SA 1731
125    TA 2
126    TA 2930
127    TA 2946
128    Immortal
129    Early-,Fourth Age
130    NaN
131    NaN
132    NaN
133    Unknown, probably still alive
134    Still Alive
135    Early ,Fourth Age
136    FA 495
137    Still Alive
138    TA 2076
139    FO 34
140    First Age
141    NaN
142    NaN
143    NaN
144    NaN
145    Still Alive
146    FA 489
147    Mid-,Third Age
148    TA 2628
149    TA 2244
150    FA 502
151    Winter of ,TA 2759
152    March 3, or ,4 ,3019
153    TA 1621
154    TA 1149
155    NaN
156    FA 473
157    FA 499
158    FA 473
159    Mid FA
160    FA 466
161    NaN
162    Late ,TA 3018
163    NaN
164    March 15 ,TA 3019
165    Immortal
166    FA 400
167    Still alive
168    TA 2050
169    TA 2043
170    TA 936
171    Early ,Second Age
172    TA 861
173    Late Second Age
174    TA 324
175    Still Alive
176    Immortal
177    Early ,Third Age
178    early ,Fourth Age
179    NaN
180    SA 985
181    unknown
182    Early ,Fourth Age
183    TA 2116
184    FO
185    TA 2545
186    FO 63
187    NaN
188    NaN
189    NaN
190    NaN
191    Still Alive
192    FA 506
193    SA 442
194    Still alive; departed to ,Aman, on ,September 29 ,3021
195    FO 57
196    NaN
197    NaN
198    FO 103
199    TA 2978
200    Early ,Fourth Age
201    YT 1500
202    TA 777
203    TA 2
204    SA 3441
205    Presumably still alive
206    FA 510,(presumably)
207    Before ,FO 220
208    NaN
209    TA 1490
210    TA 339
211    NaN
212    Early Second Age
213    Between ,FA 455, - ,FA 460
214    Late Third Age
215    FA 538
216    TA 2743
217    FA 465
218    FA 510
219    TA 2984
220    TA 2698
221    NaN
222    March 15 ,3019
223    After ,TA 2941
224    Late First Age
225    After ,TA 2929
226    March 15 ,3019
227    TA 2718
228    TA 2463
229    NaN
230    FA 473
231    TA 1998
232    NaN
233    TA 3012
234    TA 492
235    Immortal
236    NaN
237    SA 3434
238    Immortal
239    NaN
240    TA 2685
241    FA 495 ,Battle of Tumhalad
242    NaN
243    TA 2994
244    FA 510
245    NaN
246    TA 1944
247    Still Alive
248    Early ,Fourth Age
249    NaN
250    NaN
251    NaN
252    SA 3065
253    Late Third Age
254    TA 2994
255    TA 2585
256    TA 1981
257    TA 2799
258    NaN
259    NaN
260    March 15 ,3019
261    NaN
262    TA 3019
263    NaN
264    NaN
265    SA 2657
266    March 15 ,3019
267    TA 2148
268    NaN
269    March 15 ,3019
270    unknown
271    TA 2759
272    NaN
273    NaN
274    NaN
275    FA 460
276    NaN
277    March 15 ,3019
278    FA 501
279    FA 495
280    NaN
281    Late First Age
282    Mid ,Second Age
283    TA 2605
284    SA 1211
285    Winter of ,TA 2758
286    FA 420
287    TA 3019
288    FA 473
289    NaN
290    NaN
291    March 15 ,3019
292    FA 455
293    February 28 ,3019
294    TA 2395
295    March 17 ,3019
296    TA 2589
297    FO 91
298    January 253019
299    NaN
300    NaN
301    Early-,Fourth Age
302    TA 3019
303    FA 465
304    FA 499
305    NaN
306    NaN
307    TA 2435
308    FA 506,
309    NaN
310    SR 1410
311    Before ,FO 63
312    NaN
313    Mid ,March ,3019
314    March 15 ,3019
315    TA 2477
316    YT 1497
317    TA 3019
318    NaN
319    FA 460
320    NaN
321    Still alive, sailed into the ,West, sometime during the ,Fourth Age last of all elves to leave ,Middle-earth,.
322    FA 506
323    TA 2488
324    TA 2994
325    Immortal
326    NaN
327    NaN
328    NaN
329    NaN
330    TA 3002
331    NaN
332    Early Second Age
333    NaN
334    Immortal
335    Early-,Fourth Age
336    TA 2759
337    FA 473
338    TA 2711
339    NaN
340    Unknown, possibly immortal
341    NaN
342    TA 3000
343    NaN
344    NaN
345    NaN
346    NaN
347    FO 10
348    Late ,Third Age
349    NaN
350    Early ,Fourth Age
351    FO 22
352    NaN
353    TA 2941
354    NaN
355    NaN
356    NaN
357    Early-,Fourth Age
358    NaN
359    TA 2900
360    NaN
361    TA 2986
362    Late Third Age
363    TA 2945
364    NaN
365    NaN
366    TA 3004
367    Early ,Fourth Age
368    NaN
369    NaN
370    Late ,Third Age
371    NaN
372    TA 2858
373    NaN
374    TA 2948
375    NaN
376    Early ,Fourth Age
377    Sometime after ,TA 1601
378    Late Third Age
379    March 15 ,3019
380    NaN
381    Unknown (Last sighting 29 SeptemberTA 3021,) (,SR 1421,)
382    UnknownFourth Age
383    NaN
384    NaN
385    TA 2763
386    FA 466
387    NaN
388    NaN
389    NaN
390    Early ,Second Age
391    NaN
392    FA 499
393    NaN
394    TA 1981
395    FA 506
396    Immortal
397    Immortal
398    Mid ,Second Age
399    Immortal
400    Still alive
401    NaN
402    NaN
403    NaN
404    FA 503
405    TA 1856
406    TA 1294
407    NaN
408    NaN
409    FA 502
410    March ,3019
411    YT 1170
412    Probably died on ,March 25TA 3019, during destruction of ,Mordor
413    NaN
414    NaN
415    Late ,Third Age
416    FA 500
417    NaN
418    NaN
419    TA 1634
420    July 13 ,1944
421    Early-,Fourth Age
422    Unknown, presumably still alive
423    NaN
424    TA 158
425    NaN
426    Immortal
427    Did not die being a ,Maia returned to ,Valinor, after the death of her husband Thingol
428    NaN
429    February 29 ,3019
430    TA 2941
431    NaN
432    NaN
433    Mid-Third Age
434    TA 1856
435    Sometime after ,TA 1601
436    TA 2080
437    FA 376
438    Immortal
439    Early ,Second Age
440    Late First Age
441    NaN
442    TA 3015
443    FA 495
444    NaN
445    March 15 ,3019
446    FA 456
447    NaN
448    TA 2805
449    TA 2923
450    FA 474
451    February 29 ,3019
452    March 15 ,3019
453    Unknown, early ,Fourth Age
454    NaN
455    NaN
456    NaN
457    NaN
458    NaN
459    July ,2941
460    FA 460
461    TA 2741
462    March 15, 3019 (film)
463    FA 510
464    NaN
465    SR 1236
466    NaN
467    NaN
468    Before ,TA 3001
469    March 14 ,3019, slain by ,Shagrat
470    NaN
471    NaN
472    NaN
473    March 25 ,3019
474    TA 2747
475    NaN
476    TA 2699
477    NaN
478    NaN
479    Presumably sometime after ,TA 3019
480    FA 473
481    TA 2385
482    FO 15
483    NaN
484    FA 510
485    NaN
486    FA 501
487    TA 2770
488    NaN
489    Unknown (Departed to ,Aman ,FO 120,)
490    NaN
491    SA 3243
492    TA 3007
493    NaN
494    Presumably still alive
495    Possible sailed West
496    FA 460
497    SA 3441
498    NaN
499    NaN
500    NaN
501    NaN
502    NaN
503    NaN
504    FA 473
505    NaN
506    NaN
507    FO 20
508    FO 61
509    NaN
510    NaN
511    NaN
512    NaN
513    FO 60
514    NaN
515    NaN
516    TA 2
517    After ,SA 1700
518    TA 1015
519    TA 2567
520    NaN
521    TA 2999
522    NaN
523    NaN
524    TA 238
525    TA 1191
526    FA 506
527    Still alive; Departed to ,Aman, in ,TA 2510
528    TA 1272
529    SA 1697 ,War of the Elves and Sauron
530    Still alive, departed over the sea in the early Fourth Age
531    TA 1447
532    FA 466
533    NaN
534    FA 506
535    TA 1304
536    SA 900
537    NaN
538    TA 1936
539    FA 473
540    FA 355
541    Early ,Fourth Age
542    NaN
543    NaN
544    November 3 ,3019
545    March 15 ,3019
546    NaN
547    Early ,TA 3019
548    NaN
549    NaN
550    NaN
551    Unknown; possibly still alive
552    NaN
553    TA 2851
554    Early ,Second Age
555    NaN
556    NaN
557    TA 2029
558    TA 1344
559    NaN
560    Early ,Second Age
561    SA 471
562    Immortal
563    TA 652
564    Early ,Second Age
565    TA 249
566    TA 1432
567    NaN
568    Immortal
569    FA 460
570    Possibly end of ,First Age
571    FA 473
572    NaN
573    Immortal
574    FA 473
575    FA 473
576    FA 473
577    Mid Second Age
578    Immortal
579    February 293019
580    3019
581    TA 2914
582    TA 2278
583    FA 499
584    NaN
585    TA 2953
586    FA 510
587    TA 667
588    None; sailed into the West and was accounted amongst the Eldar
589    NaN
590    Immortal
591    NaN
592    TA 2981
593    NaN
594    Fourth Age
595    TA 2811
596    NaN
597    Before the ,War of the Ring
598    NaN
599    NaN
600    FA 460
601    TA 2204
602    TA 1029
603    FA 489
604    TA 2872
605    TA 2655
606    NaN
607    NaN
608    March 3 ,3019
609    Early ,Fourth Age
610    TA 2977
611    NaN
612    FA 380
613    TA 2412
614    NaN
615    FA 460
616    FA 460
617    TA 2994
618    NaN
619    NaN
620    TA 3007
621    NaN
622    NaN
623    NaN
624    NaN
625    TA 2911
626    NaN
627    NaN
628    NaN
629    NaN
630    TA 1349
631    NaN
632    TA 1110
633    Mid Third Age
634    NaN
635    NaN
636    FA 398
637    NaN
638    Still alive
639    NaN
640    Fate unknown
641    NaN
642    FA 510
643    FA 587
644    NaN
645    FA 502
646    FA 503
647    TA 2994
648    TA 2842
649    TA 2501
650    First Age
651    February 293019
652    NaN
653    Late First Age
654    Late Second Age
655    NaN
656    NaN
657    Possibly departed to ,Aman
658    Between SR 1401-1418
659    YT (possibly)
660    NaN
661    Still alive, departed to ,Aman ,FO 120
662    NaN
663    Possibly still alive
664    FA 469
665    NaN
666    Early ,Fourth Age
667    January 253019 ,Battle of the Peak immortal
668    NaN
669    Still alive, after going to the ,Undying Lands, in ,FO 61
670    NaN
671    NaN
672    NaN
673    NaN
674    FO 7 (SR 1428)
675    NaN
676    FO
677    FO 54
678    NaN
679    NaN
680    NaN
681    NaN
682    NaN
683    NaN
684    FA 462
685    NaN
686    Still alive: Departed over the sea on ,September 29 ,3021
687    NaN
688    TA 2129
689    NaN
690    NaN
691    November 23TA 2941
692    YT 1497
693    TA 2799
694    NaN
695    NaN
696    TA 2589
697    TA 2680
698    TA 2798
699    TA 2659
700    November 102994
701    TA 2001
702    TA 2799
703    TA 2754
704    Unknown, sometime after ,TA 2000
705    Late First Age
706    TA 2848
707    TA 1944
708    TA 3019
709    TA 2903
710    TA 2885
711    TA 2864
712    TA 2994
713    NaN
714    NaN
715    NaN
716    NaN
717    TA 2031
718    NaN
719    NaN
720    Late First Age
721    TA 3012
722    NaN
723    FA 455
724    TA 2570
725    NaN
726    NaN
727    NaN
728    TA 2980
729    TA 2960
730    NaN
731    NaN
732    NaN
733    FO 65
734    Early-,Fourth Age
735    NaN
736    SR 1277
737    NaN
738    NaN
739    NaN
740    Before ,FO 63
741    NaN
742    NaN
743    NaN
744    NaN
745    NaN
746    TA 2998
747    NaN
748    FA 499
749    March 17 ,3019
750    NaN
751    TA 3010
752    NaN
753    FA 473
754    April 15 ,2510
755    First Age
756    TA 2489
757    FA 432
758    NaN
759    NaN
760    NaN
761    FO 65
762    before ,FO 63
763    FO 13
764    NaN
765    TA 2946, (SR 1346
766    SR 1341
767    NaN
768    TA 2934
769    TA 2920
770    NaN
771    NaN
772    TA 3015
773    FO 2
774    TA 2923
775    NaN
776    TA 2982
777    NaN
778    TA 2800
779    TA 2759
780    TA 2722
781    TA 2980
782    NaN
783    TA 2398
784    FO 112
785    NaN
786    Early ,Second Age
787    NaN
788    Immortal
789    NaN
790    February 25 ,3019
791    March 15 ,3019
792    FA 465
793    TA 2790
794    TA 2850
795    Presumably departed to ,Aman
796    Immortal
797    TA 2190
798    TA 2882
799    FO 137,(aged 280)
800    November 23, TA 2941
801    TA 2289
802    FA 502
803    TA 2980
804    Sometime after the ,War of the Last Alliance
805    TA 1636
806    First Age
807    NaN
808    TA 1850
809    NaN
810    TA 602
811    NaN
812    NaN
813    TA 2950
814    TA 2916
815    TA 1798
816    Before ,TA 913
817    TA 2900
818    NaN
819    Unknown (Last sighting ,September 29 ,3021,) (,SR 1421,)
820    TA 2960
821    TA 3009
822    TA 2980
823    NaN
824    NaN
825    NaN
826    TA 2926
827    TA 2871
828    TA 2934
829    TA 2858
830    Early-,Fourth Age
831    TA 2799
832    FA 473
833    NaN
834    Immortal
835    Early ,Second Age
836    TA 1226
837    TA 748
838    Early ,Second Age
839    NaN
840    FO 121
841    TA 1813
842    TA 1409
843    TA 1743
844    TA 1975
845    FA 460
846    NaN
847    NaN
848    Immortal
849    TA 2912
850    YT 1500, or ,FA 1 ,Battle of the Lammoth
851    TA 1670
852    TA 1356
853    FA 400
854    NaN
855    NaN
856    TA 2654
857    TA 2319
858    TA 1891
859    TA 2933
860    TA 2848
861    NaN
862    TA 2784
863    TA 1589
864    TA 435
865    TA 1964
866    NaN
867    TA 2247
868    TA 2106
869    TA 2177
870    TA 2719
871    TA 2523
872    TA 2588
873    FO 120
874    TA 2327
875    TA 2455
876    TA 2930
877    SA 3033
878    NaN
879    FA 489
880    FA 455
881    FA 587
882    NaN
883    TA 411
884    NaN
885    NaN
886    NaN
887    TA 1981
888    YT 1497 ,Losgar
889    FA 538
890    TA 946
891    NaN
892    SA 3434
893    Still alive
894    Sailed West either SA 3310 fate unknown
895    FO 95
896    Early ,Second Age
897    Early ,Second Age
898    NaN
899    FA 489
900    TA 2645
901    TA 1540
902    NaN
903    TA 2932
904    NaN
905    NaN
906    FA 495
907    NaN
908    FA 455
909    TA 3010
910    Late ,Third Age
Name: death, dtype: object>

In [18]:
df['spouse'].value_counts()

Unnamed wife                                             237
None                                                     43
None known                                               3
Unknown, possibly none                                   3
Unnamed wife                                             2
Possibly none                                            2
Unnamed Wife                                             2
unknown                                                  2
Vairë                                                    2
Possible unnamed wife                                    2
Belba Baggins                                            2
Unknown, possibly known                                  2
Lavender Grubb                                           2
Finwë                                                    2
Unnamed husband                                          2
Meldis                                                   1
Hilda Bracegirdle                                        1
Eilinel                                                  1
Anairë                                                   1
Tar-Míriel                                               1
Herucalmo                                                1
Hareth                                                   1
Gildis                                                   1
Erendis                                                  1
unknown, possibly unmarried                              1
Loved ,Aegnor, but they never married                    1
Morwen Eledhwen                                          1
Ailinel                                                  1
Lindo                                                    1
Brodda                                                   1
Theobald Bolger                                          1
Poppy Chubb-Baggins                                      1
Camellia (Sackville) Baggins                             1
Not married                                              1
Beldis                                                   1
Ivy Goodenough                                           1
Sam Gamgee                                               1
Enel                                                     1
Galdor                                                   1
Nerdanel                                                 1
Paladin Took II                                          1
Faramir                                                  1
Dior Eluchíl                                             1
Seredic Brandybuck                                       1
Melian                                                   1
Finduilas                                                1
Mandos                                                   1
Loved ,Amarië but they never married                     1
Fingolfin                                                1
Presumably none                                          1
Ar-Pharazôn                                              1
Glóredhel                                                1
Tata                                                     1
Barahir                                                  1
Fastred of Greenholm                                     1
Farmer Cotton                                            1
Manwë                                                    1
Ivorwen                                                  1
Elenwë                                                   1
Nimloth                                                  1
Estë                                                     1
Diamond of Long Cleeve                                   1
Dírhael                                                  1
Morwen Steelsheen                                        1
Goldberry                                                1
Varda                                                    1
Blanco Bracegirdle                                       1
Idril Celebrindal                                        1
Uffo Boffin                                              1
Lobelia Sackville-Baggins                                1
Asphodel Brandybuck                                      1
Inzilbêth                                                1
Lothíriel after the War of the Ring                      1
Ossë                                                     1
Peregrin Took                                            1
Beren Erchamion                                          1
Belemir                                                  1
Lúthien Tinúviel                                         1
Hallacar                                                 1
Haldir                                                   1
Pansy Baggins                                            1
Fíriel                                                   1
Balbo Baggins                                            1
Meriadoc Brandybuck                                      1
Rowan                                                    1
Loved ,Finrod, but it is unknown whether they married    1
Enelyë                                                   1
Húrin Thalion                                            1
Madoc Brandybuck                                         1
Almarian                                                 1
Vána                                                     1
Mimosa Bunce                                             1
Nimrodel                                                 1
Ar-Gimilzôr                                              1
Huor                                                     1
Celebrían                                                1
Hugo Boffin                                              1
Mungo Baggins                                            1
Lily Brown                                               1
Marigold Cotton                                          1
Valacar                                                  1
Prisca Baggins                                           1
Drogo Baggins                                            1
Berylla (Boffin) Baggins                                 1
Primrose Boffin                                          1
Loved ,Andreth but remained unmarried                    1
Tarannon Falastur                                        1
Cotman Cotton                                            1
Mithrellas                                               1
Gorbadoc Brandybuck                                      1
Turgon                                                   1
Nienor                                                   1
None, betrothed to ,Finduilas                            1
Gerontius "The Old" Took                                 1
Rían                                                     1
Galadriel                                                1
Tar-Aldarion                                             1
Herugar Bolger                                           1
Agathor                                                  1
Hanna Goldworthy                                         1
Unknown, probably none                                   1
Beregar                                                  1
Celeborn                                                 1
Marmadoc Brandybuck                                      1
Mrs. Proudfoot                                           1
Lalia Clayhanger                                         1
None; betrothed to ,Gwindor, but never married.          1
omer                                                     1
Loved ,Amroth                                            1
Eärwen                                                   1
Rosa Baggins                                             1
Angrod                                                   1
Most likely none                                         1
Vidumavi                                                 1
Berúthiel                                                1
none                                                     1
Imin                                                     1
Arvedui                                                  1
Handir                                                   1
Donnamira Took                                           1
Unknown, possible none                                   1
Rufus Burrows                                            1
Théoden                                                  1
Rollo Boffin                                             1
Tuor                                                     1
Tulkas                                                   1
Emeldir                                                  1
Hador, Lórindol                                          1
Primula Brandybuck                                       1
Odo Proudfoot                                            1
Bell Goodchild                                           1
Finarfin                                                 1
Gormadoc Brandybuck                                      1
Eöl                                                      1
Thengel                                                  1
Tar-Meneldur                                             1
Arwen                                                    1
Rosie Cotton                                             1
Arathorn II                                              1
Unknown husband                                          1
Malva Headstrong                                         1
Gorlim                                                   1
Aragorn II Elessar                                       1
Túrin Turambar                                           1
Nessa                                                    1
Aulë                                                     1
Hildigrim Took                                           1
Elrond                                                   1
Daisy Baggins                                            1
Buffo Boffin                                             1
Griffo Boffin                                            1
Imrazôr                                                  1
Míriel Serindë then ,Indis                               1
Tatië                                                    1
Goldilocks Gardner                                       1
Otho Sackville-Baggins                                   1
Adamanta Chubb                                           1
Irmo                                                     1
Aredhel                                                  1
Théodwyn                                                 1
Elfhild                                                  1
Unknown, probably as he had descendants                  1
Laura Grubb                                              1
Eglantine Banks                                          1
Eärendil                                                 1
Silmariën                                                1
Adanel                                                   1
Fimbrethil                                               1
Elwing                                                   1
Tar-Ancalimë                                             1
Tolman Cotton                                            1
Yavanna                                                  1
Unknown, possibly none as he had no children             1
Bungo Baggins                                            1
Elatan                                                   1
owyn                                                     1
Denethor II                                              1
Iminyë                                                   1
Uinen                                                    1
Orchaldor                                                1
Ruby Bolger                                              1
Adalbert Bolger                                          1
Peony Baggins                                            1
Tar-Vanimeldë                                            1
Lilah Took                                               1
Rosamunda Took                                           1
Eldalótë                                                 1
Gilraen                                                  1
Milo Burrows                                             1
Estella (Bolger) Brandybuck                              1
Unknown, but possible since he had descendants           1
Odovacar Bolger                                          1
Thingol                                                  1
Fëanor                                                   1
Saradoc Brandybuck                                       1
Name: spouse, dtype: int64